@charset "utf-8";
/*
Design by http://www.hotwebsitetemplates.net
*/
body { margin:0; padding:0; width:100%; color:#000000; font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif; background:grey;}
html, .main { padding:0; margin:0;}
.main { }
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:0; width:auto; float:left;}
.logo  h1{ padding:24px 24px}
h1 { margin:16px 0; padding:8px 16px 8px 0; color:#f6f7f7; font:bold 36px/1.2em "Liberation sans", Arial, Helvetica, sans-serif; letter-spacing:-2px; background-color:#006599;}
h1 a, h1 a:hover { color:#f6f7f7; text-decoration:none;}
h1 span { color:#78bbe6;}
h1 small { display:block; font:normal 12px/1.2em "Liberation sans", Arial, Helvetica, sans-serif; letter-spacing:normal; color:#f6f7f7;}
h2 { font:normal 24px/1.5em "Liberation sans", Arial, Helvetica, sans-serif; padding:8px 0; margin:8px 0; color:#595959;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif;}
a { color:#78bbe6; text-decoration:underline;}
p.spec { padding:0 0 16px;}
p.infopost { margin-bottom:0; padding:6px 0;}
p.infopost a { padding:0 4px;}
a.rm { color:#78bbe6; text-decoration:none; font-weight:bold;}
p.infopost a.com { margin-top:-6px; float:right; padding:4px 16px 9px; background:url(../images/comments.gif) no-repeat right top; text-decoration:none;}
p.infopost a.com span { padding-left:16px; color:#fff; font-size:18px; font-weight:bold;}
a.print_icon { float:right; background:url(../images/print_icon.png) no-repeat right top; text-decoration:none;}
a.print_icon  span { padding-right:24px; float:right;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { }
.header_resize { margin:0 auto; padding:0; width:970px; background:url(../images/hbg_bg.jpg) no-repeat center bottom;}
img.hbg_img { padding:60px 0 60px;}

/* menu */
.menu_nav { margin:28px auto 0; padding:0; height:37px; float:right; background-color:#006599;}
.menu_nav ul { list-style:none; padding:0; height:37px; float:left;}
.menu_nav ul li { margin:0; padding:0 0 0 8px; float:left;}
.menu_nav ul li a { display:block; margin:0; padding:8px 20px; color:#e0f1f7; text-decoration:none; font-size:13px; font-weight:bold;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#78bbe6;}

/* content */
.content { }
.content_resize { margin:0 auto; width:970px; background-image:url(../images/cnt_bg.jpg); background-size: 100% 100%;}
.content .mainbar { margin:0; padding:0; float:left; width:670px;}
.content .mainbar h2 { color:#595959;}
.content .mainbar img { padding:0px; border:0px solid #f2f2f1;}
.content .mainbar img.fl { margin:4px 16px 4px 0; float:left;}
.content .mainbar .article { margin:0 0 24px; padding:0 20px 0 24px;}

.content .mainbar .mainbar_tools { margin:0 0 0px; padding:0 20px 0 0px;}
.content .mainbar .printable{ margin:0 0 24px; padding:0 20px 0 24px;}/* border: 1px dotted #CCCCCC;}*/
.content .mainbar .eps_config_title{ margin:0 0 0px; padding:0 0px 0 0px;}
.content .mainbar .eps_gendate{ margin:0 0 0px; padding:0 0px 0 0px;}
.content .mainbar .eps_gendate span{ margin:0 0 0px; padding:0 0px 0 0px; float:right;}
.content .mainbar .eps_gentopic{ margin:0 0 0px; padding:0 0px 0 0px;}
.content .mainbar .eps{ margin:0 0 24px; padding:0 0px 0 0px; text-align:justify}
.content .mainbar .eps_pages{ margin:0 0 24px; padding:0 0px 0 0px;}

.content .sidebar { padding:0; float:right; width:280px;}
.content .sidebar .gadget { margin:0 0 12px; padding:8px 24px 8px 16px;}
ul.sb_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li { margin:0;}
ul.sb_menu li { padding:4px 0; width:220px;}
ul.sb_menu li.sbunselected { color:#9a9a9a; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
ul.sb_menu li.sbunselected:hover { color:#78bbe6; font-weight:bold; text-decoration:none;}
ul.sb_menu li.sbselected { color:#789bc6; font-weight:bold; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px; background-color:#E0F1F7;}
ul.sb_menu li a.sbunselected { color:#9a9a9a; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
ul.sb_menu li a.sbunselected:hover { color:#78bbe6; font-weight:bold; text-decoration:none;}
ul.sb_menu li a.sbselected { color:#789bc6; font-weight:bold; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px; background-color:#E0F1F7;}
.content p.pages { margin:0 0 0px; padding:0 0 0px; font-size:11px; color:#555; text-align:right;}
.content p.pages a.punselected { padding:8px 12px; background-color:#fff; text-decoration:none; color:#9a9a9a; border:1px solid #ecebeb;}
.content p.pages a.punselected:hover { padding:8px 12px; color:#fff; background-color:#78bbe6; border:1px solid #78bbe6;}
.content p.pages a.pselected { padding:8px 12px; color:#fff; background-color:#789bc6; border:1px solid #78bbe6;}

table.tblstrip td {padding:6px 12px; border-bottom:1px solid #95bce2; vertical-align:top;}
table.tblstrip td * {padding:6px 12px;}
table.tblstrip tr.tblalt td {background:#ecf6fc;}
table.tblstrip tr.tblover td {background:#bcd4ec;}
table.tblstrip th {background: none repeat scroll 0 0 #3E83C9; border-right: 1px solid #FFFFFF; color: #FFFFFF; font-weight: bold; line-height: 1.2; padding: 6px 12px; text-align: left;}
table.tblstrip th.clr {background: none repeat scroll 0 0 #FFFFFF; border-right: 1px solid #FFFFFF; color: #FFFFFF; font-weight: bold; line-height: 1.2; padding: 6px 12px; text-align: left;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { }
.fbg_resize { margin:0 auto; width:922px; padding:24px; background-color:#fff;}
.fbg .c2 a, .fbg .c3 a { margin:0; padding:2px 4px; text-decoration:underline;}
.fbg  h2 { padding-bottom:24px;}
.fbg img { margin:0 16px 16px 0; padding:3px; background-color:#fff;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:290px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}

/* footer */
.footer {background:url(../images/fbg_bg.jpg) no-repeat center top; }
.footer p.lf { margin:0; text-align:left; width:auto; line-height:1.5em;}
.footer p.lf a { }
.footer p.lf span { float:right;}
.footer_resize { margin:0 auto; padding:32px 24px; width:922px;}
.footer2_resize { margin:0 auto; padding:12px 24px; width:922px;}


/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:0; padding:5px 2px; height:16px; background-color:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:0; padding:2px; background-color:#fff;}
ol li .send { margin:16px 0 0 0;}

/* search */
.searchform { float:left; padding:0;}
#formsearch { margin:0; height:36px; padding:6px 0 24px 20px; width:232px;}
#formsearch span { display:block; margin:0; padding:0; float:left; background:url(../images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:10px 6px 12px; float:left; width:181px; border:none; background:none; font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:0; padding:0; border:none; float:left;}

#qtopic option { color: black;}
.qtopic_empty { color: gray;}

.epanswer { display:none;}