## Template For eGENE
##
## References:
## http://velocity.apache.org/engine/releases/velocity-1.7/user-guide.html
## http://velocity.apache.org/engine/releases/velocity-1.7/vtl-reference-guide.html
##
##############################
##############################	
#set($tplItemTblList = ["tpln_book", "tpln_stationary", "tpln_cake"])
#set($tplItemTbl = $vOptGenerator.genOptStr($tplItemTblList))
#set($item = $vTemplateGenerator.retrieveTpl($tplItemTbl))
#set($itemPlural = $vNounFormatter.genPlural($item))

#set($container = $vTemplateGenerator.retrieveTpl("tpln_container"))

#set($containerMassRatioDenom = $vNumberGenerator.genInt(3, 10))
#set($containerMassRatioNumMax = $containerMassRatioDenom - 1)
#set($containerMassRatioNum = $vNumberGenerator.genInt(1, $containerMassRatioNumMax))
#set($containerMassRatio = [$containerMassRatioNum, $containerMassRatioDenom])
#set($containerMassRatio = $vNumberGenerator.simplifyFraction($containerMassRatio))
#set($containerMassRatioNum = $containerMassRatio.get(0))
#set($containerMassRatioDenom = $containerMassRatio.get(1))

#if($containerMassRatioDenom == 10)
#set($bookMassMul = [100])
#else
#set($bookMassMul = [$containerMassRatioDenom, 10])
#end
#set($bookMass = $vNumberGenerator.genIntMul(500, 2000, $bookMassMul))
#set($bookMass = $mathTool.toDouble($bookMass) / 1000.00)
#set($bookMass = $vFormatter.formatDecimal($bookMass, 2))

#set($containerMass = ($mathTool.toDouble($containerMassRatioNum) / $mathTool.toDouble($containerMassRatioDenom)) * $mathTool.toDouble($bookMass))
##set($bookMass = 10 * $bookMass)
#set($containerMass = $vFormatter.formatDecimal($contanerMass, 2))

#set($bookCountRatioDenom = $vNumberGenerator.genInt(3, 10))
#set($bookCountRatioNumMax = $bookCountRatioDenom - 1)
#set($bookCountRatioNum = $vNumberGenerator.genInt(1, $bookCountRatioNumMax))
#set($bookCountRatio = [$bookCountRatioNum, $bookCountRatioDenom])
#set($bookCountRatio = $vNumberGenerator.simplifyFraction($bookCountRatio))
#set($bookCountRatioNum = $bookCountRatio.get(0))
#set($bookCountRatioDenom = $bookCountRatio.get(1))

#set($bookCountRatioNumX = $bookCountRatioDenom - $bookCountRatioNum)

#set($itemCountTotalMul = [$bookCountRatioDenom])
#set($itemCountTotal = $vNumberGenerator.genIntMul(10, 50, $itemCountTotalMul))

#set($itemCountX = ($itemCountTotal * $bookCountRatioNumX) / $bookCountRatioDenom)

#set($count1 = $mathTool.toDouble($itemCountTotal) * ($mathTool.toDouble($bookCountRatioNum) / $mathTool.toDouble($bookCountRatioDenom)))
#set($mass1 = $count1 * $mathTool.toDouble($bookMass) + $mathTool.toDouble($containerMass))
#set($massTotal = ($mathTool.toDouble($itemCountTotal) * $mathTool.toDouble($bookMass)) + $mathTool.toDouble($containerMass))
#set($massTotal = $vFormatter.formatDecimal($massTotal, 2))
#set($dMass = $mathTool.toDouble($massTotal) - $mass1)
#set($dMass = $vFormatter.formatDecimal($dMass, 2))

#set($massOneOneKg = $mathTool.toDouble($containerMass) + $mathTool.toDouble($bookMass))
#set($massOneOneGr = 1000.00 * $mathTool.toDouble($massOneOneKg))
#set($massOneOneGr = $mathTool.roundToInt($massOneOneGr))

## generate exam paper
#evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_27_2_s")) #evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_27_2_q"))