## Template For eGENE
##
## References:
## http://velocity.apache.org/engine/releases/velocity-1.7/user-guide.html
## http://velocity.apache.org/engine/releases/velocity-1.7/vtl-reference-guide.html
##
##############################
##############################
## prepare elements
#set($tplNameTblList = ["tpln_male_name", "tpln_female_name"])
#set($tplNameTbl = $vOptGenerator.genOptStr($tplNameTblList))
#set($name = $vTemplateGenerator.retrieveTpl($tplNameTbl))
#if($tplNameTbl == "tpln_male_name")
#set($tplNameGender = "male")
#else
#set($tplNameGender = "female")
#end
#set($salaryNormal = $vNumberGenerator.genDouble(10, 200, 1))
#set($salaryNormalCent = $salaryNormal * 100)
#set($salaryNormalCent = $mathTool.toInteger($salaryNormalCent))
#set($salaryOTMoreCent = $vNumberGenerator.genIntMul(10, $salaryNormalCent, [10]))
#set($salaryOTCent = $salaryNormalCent + $salaryOTMoreCent)
#set($salaryOT = $mathTool.toDouble($salaryOTCent) / 100)
#set($workHourTotal = $vNumberGenerator.genInt(15, 30))
#set($workHourOTMax = $workHourTotal / 2)
#set($workHourOT = $vNumberGenerator.genInt(1, $workHourOTMax))
#set($salaryTotalSetCent = (($workHourTotal - $workHourOT) * $salaryNormalCent) + ($workHourOT * $salaryOTCent))
#set($setCount = $vNumberGenerator.genInt(5, 15))
#set($salaryMonthCent = $setCount * $salaryTotalSetCent)
#set($salaryMonth =$mathTool.toDouble($salaryMonthCent) / 100)
## generate exam paper
#evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_1_s")) #evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_1_q"))