## Template For eGENE
##
## References:
## http://velocity.apache.org/engine/releases/velocity-1.7/user-guide.html
## http://velocity.apache.org/engine/releases/velocity-1.7/vtl-reference-guide.html
##
##############################
##############################
## prepare elements
#set($curier = $vTemplateGenerator.retrieveTpl("tpln_courier"))
#set($currency = $escapeTool.getD())
#set($priceNormal = $vNumberGenerator.genDouble(30, 150, 1))
#set($priceNormalCent = $priceNormal * 100)
#set($priceNormalCent = $mathTool.toInteger($priceNormalCent))
#set($priceDefectLessCentMax = $priceNormalCent / 2)
#set($priceDefectLessCent = $vNumberGenerator.genIntMul(10, $priceDefectLessCentMax, [10]))
#set($priceDefectCent = $priceNormalCent - $priceDefectLessCent)
#set($priceDefect = $mathTool.toDouble($priceDefectCent) / 100)
#set($saleTotal = $vNumberGenerator.genInt(10, 30))
#set($saleDefectMax = $saleTotal / 3)
#set($saleDefect = $vNumberGenerator.genInt(1, $saleDefectMax))
#set($saleTotalSetCent = (($saleTotal - $saleDefect) * $priceNormalCent) + ($saleDefect * $priceDefectCent))
#set($saleTotalSet = $mathTool.toDouble($saleTotalSetCent) / 100)
#set($setCount = $vNumberGenerator.genInt(5, 30))
#set($saleLastMonthCent = $setCount * $saleTotalSetCent)
#set($saleLastMonth = $mathTool.toDouble($saleLastMonthCent) / 100)

#set($answerA = $setCount * ($saleTotal - $saleDefect))
#set($answerBTmp = $setCount * $saleDefect)
#set($answerB = $setCount * $saleDefect * ($priceNormal - $priceDefect))

#set($priceNormal = $vFormatter.formatDecimal($priceNormal, 2))
#set($priceDefect = $vFormatter.formatDecimal($priceDefect, 2))
#set($saleTotalSet = $vFormatter.formatDecimal($saleTotalSet, 2))
#set($saleLastMonth = $vFormatter.formatDecimal($saleLastMonth, 2))
#set($answerB = $vFormatter.formatDecimal($answerB, 2))

## generate exam paper
#evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_3_s")) #evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_3_q"))