## Template For eGENE
##
## References:
## http://velocity.apache.org/engine/releases/velocity-1.7/user-guide.html
## http://velocity.apache.org/engine/releases/velocity-1.7/vtl-reference-guide.html
##
##############################
##############################
## prepare elements
#set($goods = $vTemplateGenerator.retrieveTpl("tpln_music_instrument"))
#set($priceNormal = $vNumberGenerator.genDouble(2000, 10000, 1))
#set($priceNormalCent = $priceNormal * 100)
#set($priceNormalCent = $mathTool.toInteger($priceNormalCent))
#set($priceDefectLessCentMax = $priceNormalCent / 2)
#set($priceDefectLessCent = $vNumberGenerator.genIntMul(1000, $priceDefectLessCentMax, [10]))
#set($priceDefectCent = $priceNormalCent - $priceDefectLessCent)
#set($priceDefect = $mathTool.toDouble($priceDefectCent) / 100)
#set($saleTotal = $vNumberGenerator.genInt(5, 15))
#set($saleDefectMax = $saleTotal / 3)
#set($saleDefect = $vNumberGenerator.genInt(1, $saleDefectMax))
#set($saleTotalSetCent = (($saleTotal - $saleDefect) * $priceNormalCent) + ($saleDefect * $priceDefectCent))
#set($setCount = $vNumberGenerator.genInt(3, 10))
#set($saleYesterdayCent = $setCount * $saleTotalSetCent)
#set($saleYesterday = $mathTool.toDouble($saleYesterdayCent) / 100)
## generate exam paper
#evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_2_s")) #evaluate($vTemplateGenerator.retrieveTpl("tplo_decimals_23_2_q"))