<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>epgen-primary6-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/egenedb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>SvFunctPingDB</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvFunctPingDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvFunctPingDB</servlet-name>
		<url-pattern>/SvFunctPingDB</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SvCreateTableDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvCreateTableDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvCreateTableDataReference</servlet-name>
		<url-pattern>/SvCreateTableDataReference</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SvCreateTableTopic</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvCreateTableTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvCreateTableTopic</servlet-name>
		<url-pattern>/SvCreateTableTopic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SvDeleteDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvDeleteDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvDeleteDataReference</servlet-name>
		<url-pattern>/SvDeleteDataReference</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SvDeleteTopic</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvDeleteTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvDeleteTopic</servlet-name>
		<url-pattern>/SvDeleteTopic</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvDropTable</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvDropTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvDropTable</servlet-name>
		<url-pattern>/SvDropTable</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvGenerateExam</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvGenerateExam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvGenerateExam</servlet-name>
		<url-pattern>/SvGenerateExam</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvGetDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvGetDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvGetDataReference</servlet-name>
		<url-pattern>/SvGetDataReference</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvGetTableDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvGetTableDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvGetTableDataReference</servlet-name>
		<url-pattern>/SvGetTableDataReference</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvGetTableTopic</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvGetTableTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvGetTableTopic</servlet-name>
		<url-pattern>/SvGetTableTopic</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>SvGetTopics</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvGetTopics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvGetTopics</servlet-name>
		<url-pattern>/SvGetTopics</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>SvInsertDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvInsertDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvInsertDataReference</servlet-name>
		<url-pattern>/SvInsertDataReference</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvInsertTopic</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvInsertTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvInsertTopic</servlet-name>
		<url-pattern>/SvInsertTopic</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvUpdateDataReference</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvUpdateDataReference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvUpdateDataReference</servlet-name>
		<url-pattern>/SvUpdateDataReference</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SvUpdateTopic</servlet-name>
		<servlet-class>edu.ntu.eee.csn.ism.egene.servlet.SvUpdateTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvUpdateTopic</servlet-name>
		<url-pattern>/SvUpdateTopic</url-pattern>
	</servlet-mapping>	

</web-app>